
//Текст
$primary-color:                     #555555;//основной цвет текста

//Фон
$background-primary:                #FFFFFF;//цвет основного фона


/*
//Кнопки
$background-btn-primary:            //цвет кнопки основного фона
$background-btn-secondary:          //вторичный цвет фона кнопки
$background-btn-dark:               //темный цвет фона кнопки
$background-btn-light:              //светлый цвет фона кнопки
$background-btn-interactive:        //цвет фона кнопки при ховере

$interactive:                       //цвет текста выделения ссылок при фокусе, акцент
$btn-control:                       //цвет текста на кнопке при фокусе
$btn:                               //цвет теста на кнопке в спокойном состоянии

//Текст
$primary-color:                     //основной цвет текста
$secondary-color:                   //вторичный цвет текста  
$additional-color:                  //дополнительный цвет текста

//Фон
$background-primary:                //цвет основного фона
$background-secondary:              //вторичный цвет фона 
$background-dark:                   //темный цвет фона
$background-light:                  //светлый цвет фона
$background-interactive:            //цвет фона при ховере
*/
//Кубик
$cubic:                             250ms cubic-bezier(0.4, 0, 0.2, 1);

